<div class="box-container">
	<div class="box">

		<%= link_to (image_tag pin.image(:medium), class: 'box-image'), pin %>

		<p class="pull-right">
		  <%= (current_user == pin.user) ?
		  					(link_to 'Edit', edit_pin_path(pin)) + ' | ' +
		  					(link_to 'Delete', pin, method: :delete, data: { confirm: 'Are you sure?' }) :
		  					""
		  %>
		</p>

		<p class="description">
			<%= pin.description %>
		</p>
		<p class="">
			<strong>
				by <%= link_to pin.user.name, user_path(pin.user) %>
			</strong>
		</p>


		

	</div>
</div>