<div id="player"></div>

<script type="text/javascript">
  window.Embed = window.Embed || {};
  window.Embed["video"]         = "<%= @video.token %>";
  window.Embed["network"]       = "<%= @network.token %>";
  window.Embed["tracking_url"]  = "<%= tracking_url @video, @network, :view %>";
  window.Embed["player_id"]     = "player";
  window.Embed["player"]        = null;
</script>


