<div id="player"></div>

<script type="text/javascript">
  window.Embed = {
    "video"         : "<%= @video.token %>",
    "network"       : "<%= @network.token %>",
    "tracking_url"  : "<%= tracking_url @video, @network, :view %>",
    "player_id"     : "player",
    "player"        : null
  };
</script>


