/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css/font-family=Oxygen);*/

$myBreakSmall: 488px;

table{
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;

  tbody tr.info td, tbody tr.info th,
  tfoot tr.info td, tfoot tr.info th {
    background-color: light($green);
    font-weight:bold;
  }
  .totals{
    @extend .info
  }
}

.hero-unit{
	padding:60px 5%;
}

a [class^="icon-"], a [class*=" icon-"], a[class^="icon-"], a[class*=" icon-"] {
  text-decoration: none;
  color: $icon-color;
}

.btn-red{
  @extend .btn-danger;
}
.btn-green{
  @extend .btn-success;
}
.btn-videos{
  @extend .btn-red;
}
.btn-networks{
  @extend .btn-green;
}





// forms overrides
.form-inputs{
  @extend .row-fluid;
  .control-group, .form-actions {
    @extend [class*="span"];
    @extend .span4;
  }
}


// 
.generated-code-container textarea{
  cursor: pointer;
  overflow: hidden;
}
